/* Write your code here. */
.bg-container {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  font-family: 'roboto';
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 700px;
}
@media screen and (min-width: 768px) {
  .button-container {
    display: flex;
    flex-direction: row;
  }
}

.button {
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.like-button {
  color: #ffffff;
  background-color: #eab308;
}

.comment-button {
  color: #323f4b;
  background-color: #ffffff;
}

.share-button {
  color: #ffffff;
  background-color: #1d4ed8;
}
